body{
  background: rgb(10, 10, 10);
}
h1{
  display: block;
  text-align: center;
  color: white;
}
/* 
svg{
  padding:5%;
  position: fixed;
  width: 100vw;
  height: 100vh;
} */
/* circle:hover{
  cursor: pointer;
}
button:hover{
  cursor: pointer;
} */