.shop{
  position: absolute;
  width: 30px;
  height:30px;
  border-radius: 50%;
  cursor: pointer;
  border: rgba(17, 186, 238, 0.726) solid 2px;
  color:rgba(17, 186, 238, 0.85);
  text-align: center;
  background: black;
}
.shop span{
  vertical-align: middle;
  line-height:30px;
}
.container{
  padding:5%;
  position: absolute;
  left:60%;
  top:50%;
  width: 60vw;
  height: 60vh;
  transform: translate(-50%,-50%) ;
  /* background: rgba(7, 233, 7, 0.808); */
  /* background: rgb(7, 7, 7); */
  border-radius: 20px;
}
@keyframes fadeInYellow{
  0%{
  border: rgba(17, 186, 238, 0.726) solid 2px;
  color:rgba(17, 186, 238, 0.85);
  }
  80%{
  border: rgba(17, 186, 238, 1) solid 2px;
  color:rgba(17, 186, 238, 1);
  }
  100%{
  color:rgba(255, 255, 0, 0.726) ;
  border: rgba(255, 255, 0, 0.6) solid 2px;
  background: black;
  z-index: 9;
  }
}@keyframes fadeInYellowNormal{
  0%{
  border: rgba(17, 186, 238, 0.315) solid 2px;
  color:rgba(17, 186, 238, 0.315);
  }
  90%{
  border: rgba(17, 186, 238, 0.7) solid 2px;
  color:rgba(17, 186, 238, 0.7);
  }
  100%{
  color:rgba(255, 255, 0, 0.726) ;
  border: rgba(255, 255, 0, 0.6) solid 2px;
  background: black;
  z-index: 10;
  }
}
@keyframes fadeInRed{
  0%{
  border: rgba(17, 186, 238, 0.726) solid 2px;
  color:rgba(17, 186, 238, 0.85);
  }
  30%{
  border: rgba(17, 186, 238, 1) solid 2px;
  color:rgba(17, 186, 238, 1);
  }
  100%{
  color:rgba(255, 0, 0, 0.8) ;
  border: rgba(255, 0, 0, 0.6) solid 2px;
  background: black;
  z-index: 11;
  }
}
@keyframes fadeInYtoR{
  0%{
  color:rgba(255, 255, 0, 0.726) ;
  border: rgba(255, 255, 0, 0.6) solid 2px;
  }
  30%{
  color:rgba(255, 255, 0, 1) ;
  border: rgba(255, 255, 0, 1) solid 2px;
  }
  100%{
  color:rgba(255, 0, 0, 0.8) ;
  border: rgba(255, 0, 0, 0.6) solid 2px;
  background: black;
  z-index: 11;
  }
}
@keyframes fadeInRedNormal{
  0%{
  border: rgba(17, 186, 238, 0.315) solid 2px;
  color:rgba(17, 186, 238, 0.315);
  }
  50%{
  border: rgba(17, 186, 238, 0.7) solid 2px;
  color:rgba(17, 186, 238, 0.7);
  }
  100%{
  color:rgba(255, 0, 0, 0.726) ;
  border: rgba(255, 0, 0, 0.6) solid 2px;
  background: black;
  z-index: 12;
  }
}
.normal{
  cursor: pointer;
  position: absolute;
  width: 10px;
  height:10px;
  border-radius: 50%;
  border: rgba(17, 186, 238, 0.315) solid 2px;
  /* z-index: 10; */
}
.yellow.shop{
  animation: fadeInYellow 6s linear forwards;
}
.yellow.normal{
  animation: fadeInYellowNormal 8s linear forwards;
}
.red.shop{
  animation: fadeInRed 1.5s linear forwards;
}
.yToR.shop{
  animation: fadeInYtoR 1.5s linear forwards;
}
.red.normal{
  animation: fadeInRedNormal 4s linear forwards;
}
.primary{
  background: black;
  z-index: 10;
  color:white;
  border: rgba(255, 255, 255, 0.7) solid 2px;
    box-shadow:0 0 10px rgba(255, 0, 0, 1),0 0 15px rgba(255, 0, 0, 1), 0 0 20px rgba(255, 0, 0, 1);
}
#reset{
  cursor: pointer;
  position: absolute;
  bottom: 2%;
  right: 5%;
  margin: 5px;
  /* border: rgba(17, 186, 238, 0.915) solid 2px; */
  border: none;
  border-radius: 50px;
  /* width: 6em; */
  height: 3em;
  background: transparent;
  color: rgba(17, 186, 238, 0.915);
  /* color: rgba(255, 255, 255, 0.644); */
  outline: none;
}
#clearLine{
  cursor: pointer;
  position: absolute;
  bottom: 2%;
  right: 15%;
  margin: 5px;
  /* border: rgba(17, 186, 238, 0.915) solid 2px; */
  border: none;
  border-radius: 50px;
  /* width: 6em; */
  height: 3em;
  background: transparent;
  color: rgba(17, 186, 238, 0.915);
  /* color: rgba(255, 255, 255, 0.637); */
  outline: none;
}
.buttonContainer button{
  margin: 5px;
  width: 6em;
  height: 3em;
  background: black;
  color: rgba(17, 186, 238, 0.915);
  outline: none;
  cursor: pointer;
  border: rgba(17, 186, 238, 0.915) solid 2px;
  border-radius: 50px;
}
button span{
  margin-right: 5px;
}
.buttonContainer{
  position: absolute;
  display: flexbox;
  height: 2vh;
  bottom: 2%;
  left: 2vw;
  padding-bottom: 5px;
  margin-bottom: 5px;
  /* align-items: center; */
  vertical-align: middle;
}
.buttonContainer label{
  color: rgba(255, 255, 255, 0.705);
  margin-left: 5px;
  cursor: pointer;
}
.buttonContainer div{
  cursor: pointer;
  display: inline;
}
.buttonContainer .checkFont{
  cursor: pointer;
  color: rgba(17, 186, 238, 0.915);
  margin-right: 5px;
}