
.headBar{
  position: absolute;
  top:0;
  left:0;
  display: flex;
  width: 100vw;
  height: 6vh;
  align-items: center;
  /* border: rgba(17, 186, 238, 0.915) solid 1px; */
  background: rgb(5, 5, 5);
  z-index: 100;
}
.logo{
  /* width: 2vw;
  height: 2vw; */
  /* background: white; */
  color: white;
  /* border-radius: 50%; */
  margin-left:2%;
  margin-right: 2%;
}
.logo span{
  font-size: 30px;
}
.headBar select{
  text-align: center;
  margin: 10px;
  background: transparent;
  color: rgba(255, 255, 255, 0.678);
  height: 2vh;
  width: 2vw;
  border-radius: 5px;
  outline: none;
  border: rgba(255, 255, 255, 0.671) solid 1px;
}
.headBar select option{
  background: rgb(22, 22, 22);
  color: rgba(255, 255, 255, 0.685);
  border: none;
  outline: none;
  border-radius: 5px;
}
.headBar p{
  display: inline;
  color: rgba(255, 255, 255, 0.705);
  margin-right: 5px;
  font-family: sans-serif;
}
.headBar h3{
  display: inline;
  color: rgba(255, 255, 255, 0.705);
  margin-right: 1%;
}
.headBar input{
  height: 2.5vh;
  width: 15vw;
  padding-left: 15px;
  color: white;
  background: rgb(17, 17, 17);
  /* color: rgba(17, 186, 238, 0.915); */
  border: rgba(17, 186, 238, 0.915) solid 1.5px;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
}
#search{
  width: 3vw;
  height: 3vh;
  font-size: clamp(1em,1vw,1.5em);
  /* border: rgba(17, 186, 238, 0.915) solid 2px; */
  /* border-radius: 50%; */
  border: none;
  color: rgba(17, 186, 238, 0.915);
  /* color:rgba(218, 231, 41, 0.835); */
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: transparent;
  margin-left: -0.7vw;
}
#tag{
  font-size: 1em;
  font-weight:500 ;
  /* width: 5em; */
  height: 2em;
  color:rgba(255, 251, 0, 0.911);
  /* border: rgba(17, 186, 238, 0.915) solid 2px; */
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: transparent;
  margin-right: 1%;

}
#random{
  font-size: 1em;
  font-weight:600 ;
  /* width: 5em; */
  height: 2em;
  /* color:rgba(255, 251, 0, 0.911); */
  color: rgba(17, 186, 238, 0.915);
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: transparent;
}